{% extends 'base.html' %} {% block content %} {%load static%}
<h1>Album Details</h1>

<div class="section">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image album-art-container">
          {% if album.album_art_3d %}
            <img src="{{album.album_art_3d}}" />
          {%elif album.cd_art %}
            <img src="{{album.cd_art}}" />
          {% else %}
            <img src="{%static '/images/blank_cd.png'%}" alt="default Image" />
          {% endif %}
        </div>
        <div class="card-content">
          <h5>Description</h5>
          {%if album.description %}
          <p>{{album.description}}</p>
          {%else%}
          <p>No Description Found...</p>
          {% endif %}
        </div>
        <div class="card-action">
          <a href="#">Edit</a>
          <a href="#" class="right">Delete</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons circle black">album</i>
          <span class="title">Title</span>
          <p>{{ album.title|title }}</p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle red">people</i>
          <span class="title">Artist</span>
          <p>{{ album.artist_name|title }}</p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle orange">calendar_today</i>
          <span class="title">Release Year</span>
          <p>{{ album.release_year }}</p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle orange darken-4">library_music</i>
          <span class="title">Format</span>
          <p>{{ album.get_format_display }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col s12 m8">
        <div class="slider">
            <ul class="slides">
                {% if album.cover_art %}
                <li>
                    <img src="{{ album.cover_art }}">
                    <div class="caption center-align">
                      <h5>Album Cover Art</h5>
                    </div>
                </li>
                {% endif %}
                {% if album.cd_art%}
                <li>
                    <img src="{{ album.cd_art }}">
                    <div class="caption left-align">
                        <h5>Album Cd Art</h5>
                    </div>
                </li>
                {% endif %}
                {% if album.album_back_art%}
                <li>
                    <img src="{{ album.album_back_art }}">
                    <div class="caption right-align">
                        <h5>Album Back Art</h5>
                    </div>
                </li>  
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col s12 m4">
      <ul class="collection with-header">
        <li class="collection-header brown lighten-1"><h4>Tracklist</h4></li>
        {% for track in album.track_set.all %}
        <li class="collection-item">{{ track.track_no }} {{ track.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
