{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block content %}
{% if album %}
<h1 class="center">Edit {{album.title|title}}</h1>
{%else%}
<h1 class="center">Add an Album</h1>
{%endif%}

<div class= "container form-container add-album-container">
  <form class="add-form" action="" method="POST">
    {%csrf_token%} 
    {% if not object%}
    <p>
    <select name="albums" id="albums">
      <option value="" disabled>Enter an artist for a list of albums</option>
    </select>
    </p>
    {% endif%}
    {{form.as_p}}
    <input class="btn brown darken-1" type="submit"
    {% if album %}
    value="Update Album" 
    {%else%}
    value="Add Album"
    {%endif%}
    />
  </form>
</div>
<script>
  // initialize the format select
  var selectEl = document.getElementById('id_format');
  var albumSelectEl = document.getElementById('albums');
  const artistEl = document.getElementById('id_artist_name')
  const titleEl = document.getElementById('id_title')
  
  
  M.FormSelect.init(selectEl);
  M.FormSelect.init(albumSelectEl);

  artistEl.addEventListener('focusout', albumLookup)
  albumSelectEl.addEventListener('change', (e)=>{
    console.log('Changed')
    titleEl.value = albumSelectEl.value
  })

  async function albumLookup(e){
    res = await fetch(`/albums/search/${artistEl.value}`, {"method": "GET"})
    data = await res.json()
    albums = data.album
    let html = albums.reduce((html, album) => html + `<option value="${album.strAlbum}">${album.strAlbum}</option>`, " ")
    albumSelectEl.innerHTML = html
    M.FormSelect.init(albumSelectEl);
  }      
      
</script>

{% endblock %}
