{% extends 'base.html' %}
{% block content %}
<div class="container form-container">
  <div class="section">
    <h2 class="center">Confirm Delete</h2>
    <h5 class="center">Are you sure you want to Delete the album {{album.title|title}}</h5>
  </div>
  <br><br>
  <div class="section">
    <form action="{% url 'albums_delete' album.id %}" method="post">
      {%csrf_token%}
      <input class="waves-light btn-small brown darken-1" type="submit" value="Yes, Delete Album">
      <a class="waves-effect waves-light btn-small brown darken-1 right" href="{%url 'albums_detail' album.id %}">Cancel</a>
    </form> 
  </div>
</div> 
{% endblock %}