{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block content %}
{% if album %}
<h1 class="center">Edit {{album.title|title}}</h1>
{%else%}
<h1 class="center">Add an Album</h1>
{%endif%}

<div class= "container form-container add-album-container">
  <form class="add-form" action="" method="POST">
    {%csrf_token%} 
    {% if not object%}
    <p>
    <select name="albums" id="albums">
      <option value="" disabled>Enter an artist name below</option>
    </select>
    </p>
    {% endif%}
    <div class="input-field ">  
    {{form.as_p}}
    </div>
    <input class="btn brown darken-1" type="submit"
    {% if album %}
    value="Update Album" 
    {%else%}
    value="Add Album"
    {%endif%}
    />
  </form>
</div>


<script>
  // initialize the format select
  var selectEl = document.getElementById('id_format');
  var albumSelectEl = document.getElementById('auto-complete');
  const artistEl = document.getElementById('id_artist_name')
  const titleEl = document.getElementById('id_title')
  
  
  M.FormSelect.init(selectEl);
  titleEl.setAttribute('autocomplete', 'off')
  // M.FormSelect.init(albumSelectEl);

 
  // document.addEventListener('DOMContentLoaded', function() {
  //   var elems = document.querySelectorAll('.autocomplete');
  //   var instances = M.Autocomplete.init(elems, {data:{'Apple': null, "Google":null}});
  // });



  // artistEl.addEventListener('focusout', albumLookup)
  // albumSelectEl.addEventListener('change', (e)=>{
  //   console.log('Changed')
  //   titleEl.value = albumSelectEl.value
  // })

  artistEl.addEventListener('focusout', async function() {
    const data = {}
    let res = await fetch(`/albums/search/${artistEl.value}`, {"method": "GET"})
    let resData = await res.json()
    let albums = resData.album
    albums.forEach(album => data[album.strAlbum] = null)
    let instances = M.Autocomplete.init(titleEl, {data})
  });

  // async function albumLookup(e){
  //   res = await fetch(`/albums/search/${artistEl.value}`, {"method": "GET"})
  //   data = await res.json()
  //   albums = data.album
  //   let html = albums.reduce((html, album) => html + `<option value="${album.strAlbum}">${album.strAlbum}</option>`, " ")
  //   albumSelectEl.innerHTML = html
  //   M.FormSelect.init(albumSelectEl);
  // }      
      

  
</script>

{% endblock %}
