{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container form-container artist-container">
    <ul class="collection with-header">
        <li class="collection-header brown"><h5>{{ album.artist_name|title }}</h5></li>
        {% if artist.label %}
            <li class="collection-item artist_collection">Label : {{ artist.label|title }}</li>
        {% endif %}
        {% if artist.country %}
        <li class="collection-item artist_collection">Country : {{ artist.country|title }}</li>
        {% endif %}
        {% if artist.website %}
        <li class="collection-item artist_collection">Website : {{ artist.website }}</li>
        {% endif %}
        {% if artist.facebook %}
        <li class="collection-item artist_collection">Facebook : {{ artist.facebook }}</li>
        {% endif %}
        {% if artist.twitter %}
        <li class="collection-item artist_collection">Twitter : {{ artist.twitter }}</li>
        {% endif %}
    </ul>
</div>      

{% if concert %}
    <div class="container form-container concert-container">
        <h4 class="center">Upcoming Event</h4>
        <p class="center">{{ concert.displayName }}</p>
        <p class="center">Start Date & Time : {{ concert.start_date }} - {{ concert.start_time }}</p>
        <p class="center"><a href="{{ concert.tickets }}">Get Tickets</a></p>
        <img class="responsive-img songkick right" src="{% static '/images/songkick.png' %}" alt="songkick_img">
    </div>
{% else %}
    <h3 class="center white-text">No Upcoming events Found!</h3>
{% endif %}
{% endblock %}