{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Collection</title>
  </head>
  <body>
    <header>
      <nav>
        <nav>
          <div class="nav-wrapper brown darken-3">
            <a href="{% url 'home' %}" class="brand-logo">Collection</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"
              ><i class="material-icons">menu</i></a
            >
            <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'about' %}">About</a></li>
              {% if user.is_authenticated %}
                <li><a href="{% url 'albums_index' %}">All Albums</a></li>
                <li><a href="{% url 'albums_add' %}">Add an Album</a></li>
                <li><a href="{% url 'logout' %}">{{user.get_username}} - Log Out</a></li>
              {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'albums_index' %}">All Albums</a></li>
          <li><a href="{% url 'albums_add' %}">Add an Album</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      {% block content %} 
      {% endblock %}
    </main>
    <!-- <footer class="page-footer brown darken-3">
        <div class="right">All Rights Reserved, &copy; 2021 Music Catalogue &nbsp;</div>
    </footer> -->
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.sidenav');
        M.Sidenav.init(elems, {});
      });
      document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('.slider');
        let instances = M.Slider.init(elems, {
          height: 750,
        });
      });
    </script>
  </body>
</html>
