{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/homepage_style.css' %}">
    <title>AudioPhile</title>
</head>
<body> 
    <div class="bg-image">
        <div class="main-container">
            <h1 class="cta-text">
                <span class="site-name">AUDIOPHILE</span>
                <span class="slogan-text">Build your own album collection</span>
            </h1>
            {% if user.is_authenticated %}
                <div class="button-container">
                    <a href="{% url 'albums_index' %}" class="cta-button">View Albums</a>
                    <a href="{% url 'albums_add' %}" class="cta-button">Add an Album</a>
                </div>
            {% else %}
            <div class="button-container">
                <a href="{% url 'signup' %}" class="cta-button">Sign Up</a>
                <a href="{% url 'login' %}" class="cta-button">Log In</a>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>