body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to right bottom, #efebe9, #8d6e63);
  /* background-image: url(../images/test-bg.png); */
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

label {
  color: #4e342e;
}

#id_title:focus, 
#id_artist_name:focus, 
#id_genre:focus, 
#id_username:focus,
#id_password:focus,
#id_password1:focus,
#id_password2:focus
{
  border-bottom: 1px solid #4e342e;
  box-shadow: 0 1px 0 0 #4e342e;
}

.brand-logo{
  font-family: 'Monoton', cursive;
}

.signup-container{
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: center;
  align-items: center;
}

.album-art-container{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.detail-container{
  padding-top: 20px;
  border-radius: 10px;
  border: 1px solid rgba(212, 152, 21, 0.144);
  background: rgba(255, 255, 255, 0.096);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(4px);
}

.form-container {
  height: 25rem;
  margin-top: 5rem;
  padding: 20px;
  background: rgba(255, 255, 255, 0.089);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(212, 152, 21, 0.144);
}

.signup-container {
  height: 42rem;
  margin-top: 2rem;
}

.add-album-container{
  height: 40rem;
  margin-top: 2rem;
  padding-top: 60px;
}

.artist-container{
  height: 35rem;
}

.add-form {
  max-width: 600px;
  margin: 0 auto;
}

.slider,
.slides {
  background: transparent !important;
  margin: 0 auto;
  height: 640px !important;
  width: 600px !important;
  max-height: 35vw !important;
  max-width: 100% !important;
  
}

.artist_collection{
  background-color: transparent !important;
}

.heading-artist{
  display: block;
}

.artist_link{
  /* display: block; */
  padding: 0 10px;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid black;
  border-radius: 5px;
}

.artist_link:hover{
  background-color: #8d6e63;
  color: white;
}

.slides img{
  width: 100% !important;
  height: unset !important;

}

@media screen and (max-width:600px)  {

  .slider,
  .slides {
    max-height: 90vw !important;
    max-width: 85vw !important;  
  }
}

@media screen and (max-width: 1000px){
  .signup-container{
    width: 70vw;
  }
}

@media screen and (max-width:600px)  {
  .signup-container{
    font-size: 10px;
    width: 80vw;
  }
}